body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.messages {
    flex-grow: 5;
    background: whitesmoke;
}
.writing {}
p {
    font-size: larger;
    border-radius: 5px;
    border: 5px;
    background: cadetblue;
    padding: 5px;
    margin: 5px;
}
input {
    width: 100%;
    background: cadetblue;
    padding: 5px;
}

::placeholder {
    color: black;
}

